/backups
/wp-admin
/.vscode
/wp-includes
.htaccess
wp-config.php

/wp-content/plugins
/wp-content/upgrade
/wp-content/uploads

/wp-content/themes/*
!/wp-content/themes/double-eagle

/wp-content/themes/double-eagle/.cache-loader
/wp-content/themes/double-eagle/dist
/wp-content/themes/double-eagle/node_modules
/wp-content/themes/double-eagle/npm-debug.log
/wp-content/themes/double-eagle/yarn-error.log
/wp-content/themes/double-eagle/vendor
/wp-content/themes/double-eagle/resources/assets/config-local.json

*.sql
