// Custom ----------------------------------------------------------------------*/
.recipe-slideshow {
  .item-description a.btn {
    margin-top: 20px !important;
  }

  .item-description time {
    margin-bottom: 20px;
    color: theme-color("primary");
  }

  .carousel-item {
    &.active .item-description {
      opacity: 1;
    }

    &.carousel-item-next .item-description,
    &.carousel-item-prev .item-description {
      opacity: 0;
    }
  }

  // .item-image {
  //   height: 0;
  //   padding-top: 60%;
  //   background-size: cover;
  //   clip-path: url(#image-clip-02);
  //   background-position: center;
  // }

  .crop-aspect {
    position: relative;
    padding-top: 70%;
    height: 0;

    .crop {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-clip-path: url(#myClip);
      clip-path: url(#myClip);
      background-size: cover;
      background-repeat: no-repeat;
      // background-position: center;
    }
  }

  .navigation-controls {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .controls-wrapper {
      width: 100%;
      text-align: center;

      @include media-breakpoint-up(md) {
        width: auto;
      }
    }
  }
}
