/**
* Login modal
*/
.modal {
  .modal-content {
    position: relative;

    .modal-golf-ball {
      content: "";
      width: 120px;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translate(-50%, 50%);
      filter: drop-shadow(14px 4px 6px black);
    }

    .woocommerce-form.woocommerce-form-login.login {
      p.form-row-first,
      p.form-row-last {
        width: 100%;
      }
    }
  }

  .modal-header {
    border-bottom: none;

    button.close {
      background-color: transparent !important;
      border: none !important;

      .animated-icon span {
        background-color: black;
      }
    }

    button:hover {
      border: none !important;
    }
  }

  .form-logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  ul.nav-pills {
    display: flex;
    justify-content: center;
  }

  ul.nav-pills > .nav-item {
    &:first-of-type {
      border-right: 1px solid grey;
    }

    > a.nav-link {
      background-color: transparent;
      color: lightgrey;
      text-transform: uppercase;
      border-radius: 0;

      &.active {
        color: theme-color("primary");
      }
    }
  }

  .tab-content form {
    button[type=submit] {
      margin: auto;
    }
  }
}

/**
* Navigation modal
*/
#navigation-modal {
  .modal-dialog {
    margin-left: 0;
    transform: translate(-100%, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 30px;
    bottom: 0;
  }

  &.show {
    .modal-dialog {
      transform: translate(0, 0);
    }
  }

  .modal-content {
    min-height: 100%;
    padding-bottom: 30px;
    border-radius: 0;
  }

  .modal-header {
    padding: 30px;
    padding-bottom: 0;

    img {
      width: 100px;
    }

    button.close {
      padding-left: 0 !important;
      padding-right: 0 !important;
      background-color: transparent !important;

      .animated-icon span {
        background-color: black;
      }
    }
  }
}
